<div class="col-md-6">
    <div class="row">
        <div class="col-md-6">
            <img ng-src="{{movie.imageUrl}}" style="width: 100%"/>
        </div>
        <div class="col-md-6">
            <strong>{{movie.title}}</strong><br/>
            {{movie.director}}
            <br/><br/>

            <div ng-repeat="rating in movie.ratings">
                {{rating.name}}: {{rating.rate}}/{{rating.maxRate}}<br/>
                <rating ng-model="rating.rate" max="rating.maxRate" readonly="true"></rating>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-6">
            <img ng-src="{{book.imageUrl}}" style="width: 100%" />
        </div>
        <div class="col-md-6">
            <strong>{{book.title}}</strong><br/>
            {{book.author}}
            <br /><br />
            <div ng-repeat="rating in book.ratings">
                {{rating.name}}: {{rating.rate}}/{{rating.maxRate}}<br/>
                <rating ng-model="rating.rate" max="rating.maxRate" readonly="true"></rating>
            </div>
        </div>
    </div>
</div>